.main-menu .navigation > li > .remove-padding {
  padding: 10px;
}

.logo-image {
  width: 75px;
}

li.sidebar-item > .remove-padding::after {
  transform: rotate(0);
}

li.sidebar-item {
  position: relative;
  display: block;
  /* padding: 0 30px; */
  width: 100%;
}

li.sidebar-item.active > a {
  background-color: var(--thm-base);
  color: #ffffff;
}

li.sidebar-item > a {
  position: relative;
  display: block;
  padding: 16px 10px 16px;
  color: var(--thm-primary);
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  text-transform: capitalize;
  transition: all 500ms ease;
  letter-spacing: normal;
  font-family: var(--thm-font);
  z-index: 1;
}

li.sidebar-item:last-child > a {
  border: none;
}

li.sidebar-item > a:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0;
  background-color: var(--thm-primary);
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;
}

li.sidebar-item:hover > a:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

li.sidebar-item:hover > a {
  color: #ffffff;
  padding-left: 10px;
  letter-spacing: 0.1em;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.sidebar li .submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar > ul > li > ul > li {
  font-size: 16px;
  padding: 4px;
}
.sidebar > ul > li > ul > li > a.nav-link {
  font-size: 16px;
  padding: 0.25rem 1rem !important;
}

/* CSS used here will be applied after bootstrap.css */

.pad {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
}

.glyphicon-bell {
  font-size: 1.5rem;
}

.notifications {
  min-width: 420px;
}

.notifications-wrapper {
  overflow: auto;
  max-height: 250px;
}

.menu-title {
  color: #ff7788;
  font-size: 1.5rem;
  display: inline-block;
}

.glyphicon-circle-arrow-right {
  margin-left: 10px;
}

.notification-heading,
.notification-footer {
  padding: 2px 10px;
}

.dropdown-menu.divider {
  margin: 5px 0;
}

.item-title {
  font-size: 1.3rem;
  color: #000;
}

.notifications a.content {
  text-decoration: none;
  background: #ccc;
}

.notification-item {
  padding: 10px;
  margin: 5px;
  background: #ccc;
  border-radius: 4px;
}

.panel > .panel-heading {
  color: #fff;
  background-color: var(--thm-primary);
}

/* Login Form */

#loginForm div input {
  padding: 1.5rem 1rem;
  border: 1px solid var(--thm-primary);
}
#loginForm div label {
  color: var(--thm-base);
  margin-bottom: 0.25rem;
  font-size: 16px;
  font-weight: 600;
}
#loginForm div a {
  font-size: 16px;
  color: var(--thm-primary);
}
#loginForm div a:hover {
  color: var(--thm-base);
}
#loginForm div p {
  font-size: 16px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: var(--thm-base);
}

/* Button */

.border-low {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 10px !important;
}

.border-low:before {
  border-radius: 10px !important;
}

/* Tables */

table thead tr {
  font-size: 16px;
}
table tbody tr {
  font-size: 14px;
}
table td {
  padding: 0.25rem !important;
}

.action-btns:first-child {
  color: var(--thm-primary);
}
.action-btns:last-child {
  color: crimson;
}
